body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #00F260;  /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom, #0575E6, #00F260);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom, #FF8C00, #9FFF00, #0575E6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

h1{
  font-size: 40px;
  color: #1abc9c;
}

h2{
  font-size: 30px;
}

h1, p, h2{
  text-align: center;
  color: #6E6E6E;
}

label{
  font-size: 18px;
  margin: 15px;
}

.checkInContainer{
  display: flex;
  flex-direction: column;
  margin: 10%;
  background-color: #F2F2F290;
  padding: 20px;
  border-radius: 45px;
}

input{
  margin: 15px 25px;;
  width: 250px;
  padding: 15px;
  font-size: 16px;
  border: none;
}

.theCheckInList li{
  list-style: none;
  margin: 5% 10%;
  background-color: #F2F2F290;
  padding: 15px 25px;
  border-radius: 45px;
  color: #6E6E6E;
  font-size: 34px;
}

.happyEmojis, .sadEmojis{
  margin: 15px 25px;
}

.checkInButton{
  float: right;
  margin-right: 10%;
  margin-bottom: 15px;
  font-size: 14px;
  padding: 15px 25px;
  border-radius: 45px;
  background: #1abc9c;
  color: #fff;
  border: none;
  text-transform: uppercase;
  font-weight: 700;
}
.button1{
  background: #FF0000;
  font-size: 35px;
  margin: 5px;
  border-radius: 15px;
  border-style: none;

}

button:active{
    background: #1abc9c;
}


.button2{
  background-color: #FF2300;
  font-size: 35px;
  margin: 5px;
  border-radius: 15px;
}

.button3{
  background-color: #FF5700;
  font-size: 35px;
  margin: 5px;
  border-radius: 15px;
}

.button4{
  background-color: #FF8C00;
  font-size: 35px;
  margin: 5px;
  border-radius: 15px;
}

.button5{
  background-color: #FFC100;
  font-size: 35px;
  margin: 5px;
  border-radius: 15px;
}

.button6{
  background-color: #FFF600;
  font-size: 35px;
  margin: 5px;
  border-radius: 15px;
}

.button7{
  background-color: #D4FF00;
  font-size: 35px;
  margin: 5px;
  border-radius: 15px;
}

.button8{
  background-color: #9FFF00;
  font-size: 35px;
  margin: 5px;
  border-radius: 15px;
}

.button9{
  background-color: #35FF00;
  font-size: 35px;
  margin: 5px;
  border-radius: 15px;
}

.button10{
  background-color: #00FF00;
  font-size: 35px;
  margin: 5px;
  border-radius: 15px;
}

.overallMoodContainer{
  list-style: none;
  margin: 10%;
  background-color: #F2F2F290;
  padding: 15px 25px;
  border-radius: 45px;
  color: #6E6E6E;
  font-size: 36px;
}
